

<h1>Deportes</h1>
<ul>
    @foreach (var deporte in ViewBag.Deportes)
    {   <li>
    <a href="@Url.Action("VerDetalleDeporte", "Home", new { nombreDeporte = deporte.Nombre })">
        @deporte.Nombre
    </a>
</li>
        <img src = "@deporte.Foto">
    }
</ul>
