@{
    ViewData["Title"] = "Historia de los Juegos Olímpicos";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/historia.css" />
</head>
<body>
    <h1>@ViewData["Title"]</h1>

    <p>
        Los Juegos Olímpicos, conocidos como los JJ.OO., son un evento internacional multi-deportivo que se celebra cada cuatro años. La primera edición de los Juegos Olímpicos antiguos se celebró en el año 776 a.C. en Olimpia, Grecia. Estos juegos eran un festival religioso en honor a Zeus y contaban con eventos deportivos y competiciones.
    </p>

    <h2>Historia de los Juegos Olímpicos Antiguos</h2>
    <p>
        Los Juegos Olímpicos antiguos fueron parte de una serie de festivales panhelénicos en la antigua Grecia. Estos eventos deportivos incluían carreras a pie, carreras de carros, lucha y pentatlón. Los atletas competían desnudos, y el evento se celebraba en un recinto sagrado en Olimpia. Los juegos se celebraban cada cuatro años y eran una de las cuatro grandes festividades panhelénicas, junto con los Juegos Píticos, Nemeos y Ístmicos.
    </p>

    <h2>Renacimiento de los Juegos Olímpicos</h2>
    <p>
        Los Juegos Olímpicos modernos fueron fundados por Pierre de Coubertin en 1896 en Atenas, Grecia. Coubertin, un educador francés, buscaba revivir los juegos antiguos con un enfoque internacional y no solo griego. Los primeros Juegos Olímpicos modernos contaron con 13 países participantes y 43 eventos. Desde entonces, los Juegos Olímpicos han crecido para incluir miles de atletas de todo el mundo y una amplia gama de deportes.
    </p>

    <h2>Los Juegos Olímpicos en la Era Contemporánea</h2>
    <p>
        Los Juegos Olímpicos modernos se celebran cada cuatro años y están organizados por el Comité Olímpico Internacional (COI). Los juegos se dividen en los Juegos Olímpicos de Verano e Invierno. Los Juegos Olímpicos de Verano incluyen una variedad de deportes como atletismo, natación, y baloncesto, mientras que los Juegos Olímpicos de Invierno presentan deportes como el esquí y el patinaje artístico. La sede de los juegos cambia en cada edición, y las ciudades anfitrionas se eligen a través de un proceso de licitación y votación.
    </p>

    <h2>Impacto Global y Legado</h2>
    <p>
        Los Juegos Olímpicos tienen un profundo impacto global, promoviendo el entendimiento y la amistad entre naciones a través del deporte. Además, los juegos tienen un gran impacto económico en las ciudades anfitrionas y dejan un legado duradero en infraestructura y deporte. Los Olímpicos también sirven como plataforma para abordar temas globales y promover causas importantes como la igualdad de género y la sostenibilidad.
    </p>

    
</body>
</html>
